<header class="bg-body-tertiary">
  <div class="container d-flex align-items-center py-2 justify-content-between">
    <div class="d-flex align-items-center">
      <h1 class="text-primary-emphasis h3">Inventory Management System</h1>
      <span class="mx-3">|</span>
      <img
        width="30px"
        height="30px"
        src="/logo.png"
        alt="Logo Nexos Inventory"
      />
    </div>
    <div ngbDropdown class="d-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdown"
        ngbDropdownToggle
      >
        {{ user()?.name || "Seleccione un usuario" }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown">
        @for (userI of users(); track userI.id) {
        <button ngbDropdownItem (click)="user.set(userI)">
          {{ userI.name + " - " + userI.role.name }}
        </button>
        }
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
